CREATE PROCEDURE $owner.$procedureName
AS
	SELECT 
		#set ($counter = 1)
#foreach($i in $table.Columns)
	$i#if($table.NumberOfColumns != $counter ), #end
	
	#set ($counter = $counter + 1) 
	#end
	FROM $table.Schema.$table
	
GO