CREATE PROCEDURE $owner.$procedureName (@$key as $key.ColumnType)
AS
#if($procConfig.SetNoCountOn) SET NOCOUNT ON #end
	SELECT 
		#set ($counter = 1)
#foreach($i in $table.Columns)
	$i#if($table.NumberOfColumns != $counter ), #end
	
	#set ($counter = $counter + 1) 
	#end
	FROM $table.Schema.$table
	WHERE $key = @$key

GO