#set ($counter = 1)
CREATE PROCEDURE $owner.$procedureName 
(
#foreach($i in $table.NonIdentityColumns)

	@$i $i.ColumnType$i.Length #if($table.NumberOfColumns != $counter ) , #end
	#set ($counter = $counter + 1) 
#end
#set ($counter = 1)

	)
AS
	$procConfig.IsolationLevel

#if($procConfig.SetNoCountOn) SET NOCOUNT ON #end
UPDATE $table
SET
#foreach($i in $table.NonIdentityColumns)

	$i = @$i#if($table.NumberOfColumns != $counter ),#end
	#set ($counter = $counter + 1) 
	#end

	WHERE $table.PrimaryKey = @$table.PrimaryKey