CREATE PROCEDURE $procConfig.Schema.$procedureName(
#set ($counter = 1)
#foreach($i in $table.NonIdentityColumns)
#each
	@$i $i.ColumnType $i.Length#if($table.NumberOfNonIdentityColumns != $counter),
#end
#set ($counter = $counter + 1)
#end,
	@$table.PrimaryKey $table.PrimaryKey.ColumnType $table.PrimaryKey.Length OUTPUT
	)
#set ($counter = 1)
AS
BEGIN
	#if($procConfig.SetNoCountOn)SET NOCOUNT ON#end

	$procConfig.IsolationLevel

	INSERT INTO $table.Schema.$table
	(
	#foreach($i in $table.NonIdentityColumns)
	$i#if($table.NumberOfNonIdentityColumns != $counter ), #end

	#set ($counter = $counter + 1) 
#end
)
	VALUES
	(
	#set ($counter = 1)
#foreach($i in $table.NonIdentityColumns)
	@$i#if($table.NumberOfNonIdentityColumns != $counter ), #end

	#set ($counter = $counter + 1) 
#end
)

	SELECT @$table.PrimaryKey = Scope_Identity()
END