CREATE PROCEDURE $owner.$procedureName (@primaryKey as $table.PrimaryKey.ColumnType $table.PrimaryKey.Length)
AS
#if($procConfig.SetNoCountOn)	SET NOCOUNT ON#end

	$procConfig.IsolationLevel

	DELETE FROM $table.Schema.$table WHERE $table.PrimaryKey = @primaryKey
GO