CREATE PROCEDURE $procConfig.Schema.$procedureName (@primaryKey as $table.PrimaryKey.ColumnType $table.PrimaryKey.Length)
AS
#if($procConfig.SetNoCountOn)	SET NOCOUNT ON#end

	$procConfig.IsolationLevel

	IF (@primaryKey IS NOT NULL)
	BEGIN
		DELETE FROM $table.Schema.$table WHERE $table.PrimaryKey = @primaryKey
	END
	ELSE
	BEGIN
		TRUNCATE TABLE $table.Schema.$table
	END
GO